@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    transition: background-color 0.3s ease, color 0.3s ease;
}
@layer base {
    body {
      @apply bg-white text-gray-900;
    }
    .dark body {
      @apply bg-black   text-gray-100;
    }
}